extends layout

block js
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/js/resemble.js")
  script(src="/js/details-page.js")

block content
  h1= title
  
  p #{job.name}
  p #{job.description}
  p #{job.sourceUrl}
  p #{job.targetUrl}
  div(id="images")
    img(class="preview-image" id="source-image" src="data:image/png;base64,#{job.sourceImageId.data}")
    img(class="preview-image" id="target-image" src="data:image/png;base64,#{job.targetImageId.data}")
    img(class="preview-image" id="diff-image")