extends layout

block content
  h1= title
  table
    thead
      tr
        td Name
        td Description
        td SourceUrl
        td targetUrl
    tbody
      each item in jobs
        tr
          td
            a(href="details/#{item._id}") #{item.name}
          td #{item.description}
          td #{item.sourceUrl}
          td #{item.targetUrl}
    
